<p id="notice"><%= notice %></p>

<h1>Dei Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dei_categories.each do |dei_category| %>
      <tr>
        <td><%= dei_category.name %></td>
        <td><%= link_to 'Show', dei_category %></td>
        <td><%= link_to 'Edit', edit_dei_category_path(dei_category) %></td>
        <td><%= link_to 'Destroy', dei_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dei Category', new_dei_category_path %>
